        /* ------HEADER IMAGE--------  */
.joblist-header {
    position: relative;
    text-align: center;
    color: white;
}
  
.joblist-image {
    width: 100vw;
    height: 100vh;
}
  
.joblist-text h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    font-weight: bold;
}

        /* -------FILTER PART---------- */
.filter-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 6em;
}
.filter-jobs-xs {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #333;
}
.filter-icon {
    font-size: 20px;
    color: green;
    margin-right: 8px;
}
.filter-jobs-xs span{
    color: #1e2147;
    font-size: 18px;
    font-weight: 600
}
.job-count span {
    color: #1e2147;
    font-size: 16px;
} 
.sort-options {
    display: flex;
    align-items: center;
}
.sort-options label {
    margin-right: 8px;
    font-size: 16px;
    color: #333;
}
.sort-options select {
    font-size: 16px;
    padding: 4px 8px;
}


        /* -------Category and Job Cards----------  */
.joblist-container{
    display: flex; 
    margin-top: 3em;
    width: 100vw;
}

/* ---------Category---------- */
.joblist-content1{
    width: 20vw;
    margin-left: 12em;
    border: 1px solid #e0e0e0; /* Adjust border width and color as needed */
    padding-left: 5em;/* Optional: add padding to space out the text from the border */
    border-radius: 5px; /*add rounded corners */
    display: inline-block; /* Ensure the border wraps tightly around the text */
}

/*Job Category */
.joblist-main{
    margin-bottom: 50px;
}
.joblist-category h2{
    color: #1e2147;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}
.joblist-options select{
    font-size: 16px;
    padding: 15px 8px 15px 8px;
}

/* Job Type */
.job-type-selector {
    font-family: Arial, sans-serif;
    max-width: 200px;
    margin-bottom: 50px;
}
.job-type-selector h1 {
    color: #1e2147;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}
.job-type-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.job-type-option input[type='checkbox'] {
    margin-right: 10px;
    width: 50px;
}
.job-type-option label {
    font-size: 20px;
}
  
/* Job Location */
.joblist-location select{
    font-size: 16px;
    padding: 15px 35px 15px 35px;
}

/* Experience */
.job-experience-selector {
    font-family: Arial, sans-serif;
    max-width: 200px;
    margin-bottom: 50px;
} 
.job-experience-selector h1 {
    color: #1e2147;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}
.experience-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.experience-option input[type='checkbox'] {
    margin-right: 10px;
    width: 50px;
}
.experience-option label {
    font-size: 18px;
}

/* Posted Within */
.job-experience-selector-rx{
    font-family: Arial, sans-serif;
    max-width: 200px;
    margin-bottom: 50px;
} 
.job-experience-selector-rx h1 {
    color: #1e2147;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}
.experience-option-rx {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.experience-option-rx input[type='checkbox'] {
    margin-right: 10px;
    width: 50px;
}
.experience-option-rx label {
    font-size: 18px;
}
  
/* Filter Jobs*/
.filter-jobs {
    font-family: Arial, sans-serif;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}
.filter-jobs-heading {
    color: #1e2147;
    font-size: 18px;
    font-weight: 600;
    margin-right: 190px;
}
.price-filter {
    display: flex;
    align-items: center;
    width: 100%;
}
.price-filter label {
    margin-right: 10px;
    font-size: 18px;
}
.price-filter input[type='range'] {
    flex-grow: 1;
    margin-right: 10px;
}
.price-filter .price-value {
    font-size: 18px;
}

   /*---------------JobCard------------- */
.joblist-content2{
    width: 80vw;
}
.job-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.job-card {
    display: flex;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
}
.job-card:hover{
    transform: scale(1.05);
}
.job-logo {
    width: 90px;
    height: 90px;
    object-fit: contain;
    margin-right: 20px;
}
.job-details {
    flex: 1;
}
.job-title {
    color: #28395a;
    font-size: 24px;
    margin: 0 0 10px 0;
}
  
.job-company-location-salary {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #757575;
}
.job-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.job-type {
    border: 1px solid #6200ea;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #fff;
    color: #6200ea;
    cursor: pointer;
    margin-bottom: 5px;
}
.job-time {
    color: #757575;
}
  